# Тема “Работа с данными в Pandas”
### Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3], pivot_table
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [62]:
import numpy as np
import pandas as pd

In [5]:
authors = pd.DataFrame({'author_id': [1, 2, 3], ' author_name': ['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id', ' author_name'])
authors

   author_id  author_name
0          1     Тургенев
1          2        Чехов
2          3   Островский

In [11]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3], 
'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
'price': [450, 300, 350, 500, 450, 370, 290]},
columns = ['author_id', 'book_title', 'price'])
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [82]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
authors_price = pd.DataFrame(authors_price)
authors_price

   author_id  author_name            book_title  price
0          1     Тургенев           Отцы и дети    450
1          1     Тургенев                 Рудин    300
2          1     Тургенев     Дворянское гнездо    350
3          2        Чехов      Толстый и тонкий    500
4          2        Чехов       Дама с собачкой    450
5          3   Островский                 Гроза    370
6          3   Островский  Таланты и поклонники    290

### Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [83]:
top5 = authors_price.nlargest(5, 'price')
top5

   author_id  author_name         book_title  price
3          2        Чехов   Толстый и тонкий    500
0          1     Тургенев        Отцы и дети    450
4          2        Чехов    Дама с собачкой    450
5          3   Островский              Гроза    370
2          1     Тургенев  Дворянское гнездо    350

### Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора .

In [86]:
authors_price

   author_id  author_name            book_title  price
0          1     Тургенев           Отцы и дети    450
1          1     Тургенев                 Рудин    300
2          1     Тургенев     Дворянское гнездо    350
3          2        Чехов      Толстый и тонкий    500
4          2        Чехов       Дама с собачкой    450
5          3   Островский                 Гроза    370
6          3   Островский  Таланты и поклонники    290

In [97]:
authors_price.groupby("author_name")

KeyError: 'author_name'

In [66]:
authors_stat = authors_price.groupby('author_name').agg({'price': 'max'})
authors_stat

KeyError: 'author_name'

In [56]:
authors_stat_gr = authors_price.groupby('author_name')
authors_stat_gr
authors_stat = authors_stat_gr.agg({"min_price": 'min', "max_price": 'max', "mean_price": 'mean'})
authors_stat
groupby = df4.groupby("author_name")
groupby["price"].mean()

KeyError: 'author_name'

### Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd. с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.